.divTextBanner{
    margin-right: 50px; 
    margin-left: 100px; 
    padding-bottom: 100px;
    margin-top: 80px;
}

.titleBanner{
    font-family: 'Lalezar', cursive; 
    font-size: 70px; 
    margin-bottom: 0rem;
}

.subTitleBanner{
    font-family:'Niramit', sans-serif; 
    font-size: 20px; 
    font-weight: 300;
    margin-right: 300px;
}

.divSaibaMaisBanner{
    text-align: center;
    flex: 1;
    margin-bottom: 30px;
}

.textSaibaMaisBanner{
    font-family:'Lalezar', cursive; 
    font-size: 27px; 
       
}

.btnSaibaMais{
    font-family:'Niramit', sans-serif; 
    font-weight: 600; 
    font-size: 18px;
    border-radius: 15px;
    padding: 15px 40px;
}

.btnBodyActions {
    font-weight: 600;
    background-color: #F9AF1B;
}

.btnBodyActions:hover{
    background-color: #FFDC97!important;
    border-color: #ffbd3a!important;
    box-shadow: 0px 5px 15px #FFFDFD!important;
}

.btnBodyActions:active{
    background-color: #B07D17!important;
    box-shadow: 0px 5px 15px #FFFDFD!important;
}

.divVantagens{
    flex: 1; 
    display: inline-flex; 
    align-items: center; 
    margin-left: 60px;
    
}

#divVantagemCxB, #divVantagemSpeed{
    margin-right: 50px;
}

#divVantagemCxB{
    margin-top: 10px;
}

#divVantagemSpeed{
    margin-top: 30px;
}

#divVantagemStability{
    margin-top: 25px;
}

.divImgTitleVantagem{
    flex: 1; 
    display: inline-flex;
    padding: 0 0 20px 0; 
}

.divTitleVantagem{
    align-self: flex-end;
}


.textTitleVantagem{
    color: #074680;
    font-family:'Work Sans', sans-serif;
    font-size: 25px;
    margin: 0;
}

.textTitleVantagemSpeed{
    color: #074680;
    font-family:'Work Sans', sans-serif;
    font-size: 25px;
    margin: 0;
    margin-left: 20px;
}

.textTitleVantagemStability {
    color: #074680;
    font-family:'Work Sans', sans-serif;
    font-size: 25px;
    margin: 0;
    margin-left: 20px;
}

.divDescVantagem{
    border: 4px solid #BCACDA;
    margin-top: -20px;
    min-width: 100%;
}

.textDescVantagem{
    font-family:'Niramit', sans-serif; 
    font-size: 20px; 
    padding: 25px;
    width: 550px;
    padding-top: 30px;
    text-align: center;
}

.textDescVantagemStability{
    font-family:'Niramit', sans-serif; 
    font-size: 20px; 
    padding-top: 30px;
    text-align: center;
}


.divBackgroundSuaIdeia{
    background-image: linear-gradient(#6562CF, #3F4D79); 
    margin-top: 80px;
}

.suaIdeia1{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}

.divSuaIdeia{
    flex: 1;
    display: flex;
    flex-direction: row;
}

#carouselSuaIdeia a{
    top: 10px;
    bottom: 180px;
}

.imgConsultoria{
    margin-top: 50px;
}

.flip-container {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-left: 10px;
}

.flipper{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
}

.flip-container:hover .flipper{
    transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
}

.cardSuaIdeiaBorda{
    border: solid #fff;
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-radius: 10px;
    align-self: start;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.textSuaIdeiaCard{
    font-family:'Niramit', sans-serif; 
    font-size: 27px; 
    padding: 10px;
    text-align: center;
    margin-top: 1rem;
}


.subDivSuaIdeia{
    display: flex;
    flex-direction: column;
}

.imgExperiencia{
    margin-top: -30px;
    align-self: start;
}

.imgSuporte{
    align-self: start;
    margin-top: 20px;
}

.imgDesenvolvimento{
    align-self: start;
    margin-top: 20px;
}

.btnQuantoCusta{
    font-weight: 600;
    background-color: #F9AF1B;
    align-self: flex-end;
    margin-left: -200px;
    margin-top: 150px;
    border-radius: 15px;
}

.btnQuantoCusta:hover{
    background-color: #FFDC97!important;
    border-color: #ffbd3a!important;
    box-shadow: 0px 5px 15px #FFFDFD!important;
}

.btnQuantoCusta:active{
    background-color: #B07D17!important;
    box-shadow: 0px 5px 15px #FFFDFD!important;
}

.suaIdeia2{
    display: none;
}

.divParceiros1{
    flex: 1; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    margin: 80px 600px 0 600px;
}

.divParceiros2{
    display: none;
}

.divDepoimentosGroup1{
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
}

.divDepoimentosInLine{
    flex: 1; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin-top: 50px; 
    margin-left: 50px;
    margin-right: 50px;
}

.divDepoimento{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    height: 800px;
    width: 18%;
    background-color: #F4EFEF;
    border-radius: 0.8em;
}

.divDepoimento img{
    border-radius: 10px 10px 0 0;
}

.divTextDepoimentos{
    height: 500px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textDepoimentos{
    font-family:'Niramit', sans-serif; 
    font-size: 16px; 
    padding: 20px;
    text-align: center;
    justify-content: end;
}

.textSendDepoimentos{
    font-family:'Niramit', sans-serif; 
    font-size: 16px; 
    text-align: end;
    justify-content: end;
    margin-right: 10px;
    font-weight: bold;
}


#carouselDepoimentos1 .carousel-indicators {
    margin-bottom: -60px;
}

#carouselDepoimentos1 .carousel-indicators li {
	height: 25px;
    width: 25px;
    border-radius: 200px;
    margin: 0px 8px;
    border: 2px solid #074680;
    background-color: transparent;
}

#carouselDepoimentos1 .carousel-indicators li.active {
	background-color:  #074680;
}

.divDepoimentosGroup2{
    display: none; 
}

.carousel-control-next {
    right: 0;
    bottom: auto;
    top: 100px;
}


.carousel-control-prev {
    right: 0;
    bottom: auto;
    top: 100px;
}


@media only screen and (max-width: 988px){
    .divBanner{
        height: 392px;
    }

    .divTextBanner{
        margin-right: 50px; 
        margin-left: 30px; 
        padding-bottom: 5px;
        margin-top: 30px;
    }
    
    .titleBanner{
        font-family:'Lalezar', cursive; 
        font-size: 22px; 
        margin-bottom: -8px;
    }
    
    .subTitleBanner{
        font-family:'Niramit', sans-serif;; 
        font-size: 10.5px; 
        font-weight: 300;
        margin-right: 0px;
        margin-top: 5px;
    }
    
    .textSaibaMaisBanner{
        font-family:'Lalezar', cursive; 
        font-size: 14px; 
        font-weight: 500;  
        margin-top: 30px; 
    }

    .btnSaibaMais{
        font-weight: 500; 
        border-radius: 15px;
        padding: 5px 30px;
        font-size: 14px;
        margin-top: -25px;
        background-color: #F9AF1B;
    }

    .divVantagens{
        flex: 1;
        display: flex;
        align-items: center;
        margin-top: 0px;
        flex-direction: column;
        margin-left: 30px;
    }

    .divVantagem{
        margin-right: 30px;
    }

    .divImgTitleVantagem{
        flex: 1; 
        display: flex; 
        flex-direction: column;
    }

    .divImgVantagem{
        align-self: center;
        margin-top: 30px;
    }

    .imgVantagem{
        height: 164px;
    }
    
    .divTitleVantagem{
        align-self: center;
    }
    
    .textTitleVantegem{
        color: #074680;
        font-family:'Work Sans', sans-serif;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;    
    }
    
    .divDescVantegem{
        border: 4px solid #BCACDA;
        margin-top: 0px;
        min-width: 100%;
        margin-bottom: 50px;
    }

    .textDescVantegem{
        padding-top: 30px;
        margin-bottom: 0rem;
        font-size: 16px;
    }

    .divBackgroundSuaIdeia{
        background-image: linear-gradient(#6562CF, #3F4D79); 
        margin-top: 50px;
        padding-top: 150px;
        padding-bottom: 150px;
        text-align: -webkit-center;
    }

    .suaIdeia1{
        display: none;
    }

    .suaIdeia2{
        display: block;
    }

    .titleSuaIdeia{
        font-family:'Niramit', sans-serif; 
        font-size: 18px; 
        text-align: center;
        margin-bottom: 10px;
    }

    .imgSuaIdeia2{
        width: 295px;
        height: 264px;
        background-size: 90%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .textSuaIdeia{
        font-family:'Niramit', sans-serif; 
        font-size: 17px; 
        text-align: center; 
        padding: 10px; 
        margin-left: 20px; 
        margin-right: 20px;
    }

    .btnQuantoCusta{
        margin-top: 100px;
        border-radius: 15px;
        box-shadow: 0px 5px 15px #FFFDFD;
        font-weight: 600;
        background-color: #F9AF1B;
        align-self: center;
        margin-left: 0px;
    }
 
    .divParceiros1{
        display: none;
    }
    
    .divParceiros2{
        display: block;
    }

    .divDepoimentosGroup1{
        display: none; 
    }

    .divDepoimento{
        flex: 1; 
        display: flex; 
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        margin-right: 0px;
        background-color: transparent;
        width: auto;
    }

    .divTextDepoimentos{
        margin-top: 30px;
        margin-bottom: 150px;
        min-height: 275px;
    }

    .divDepoimentosGroup2{
        display: block; 
    }
}

@media only screen and (min-width: 989px) and (max-width: 1024px){
    .divBanner{
        max-height: 392px;
    }

    .divTextBanner{
        margin-top: 20px;
    }
    
    .divVantagens{
        flex: 1;
        display: flex;
        align-items: center;
        margin-top: 0px;
        flex-direction: column;
        margin-left: 30px;
    }

    .divVantagem{
        margin-right: 200px;
        margin-left: 200px;
    }

    .divImgTitleVantagem{
        flex: 1; 
        display: flex; 
        flex-direction: column;
    }

    .divImgVantagem{
        align-self: center;
        margin-top: 30px;
    }

    .imgVantagem{
        height: auto;
    }
    
    .divTitleVantagem{
        align-self: center;
    }
    
    .textTitleVantegem{
        color: #074680;
        font-family:'Work Sans', sans-serif;
        font-size: 27px;
        margin-top: 15px;
        margin-bottom: 10px;    
    }
    
    .divDescVantegem{
        border: 4px solid #BCACDA;
        margin-top: 0px;
        min-width: 100%;
        margin-bottom: 50px;
    }

    .textDescVantegem{
        padding-top: 30px;
        margin-bottom: 0rem;
        font-size: 20px;
    }

    .divBackgroundSuaIdeia{
        background-image: linear-gradient(#6562CF, #3F4D79); 
        margin-top: 50px;
        padding-top: 150px;
        padding-bottom: 150px;
        text-align: -webkit-center;
    }

    .suaIdeia1{
        display: none;
    }

    .suaIdeia2{
        display: block;
    }

    .titleSuaIdeia{
        font-family:'Niramit', sans-serif; 
        font-size: 27px; 
        text-align: center;
        margin-bottom: 50px;
    }

    .imgSuaIdeia2{
        width: 443px;
        height: 396px;
        padding: 40px;
    }

    .textSuaIdeia{
        font-family:'Niramit', sans-serif; 
        font-size: 20px; 
        text-align: center; 
        padding: 10px; 
        margin-left: 20px; 
        margin-right: 20px;
    }
    
    .divDepoimentosGroup1{
        display: none; 
    }

    .divDepoimento{
        flex: 1; 
        display: flex; 
        flex-direction: column; 
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
    }

    .divTextDepoimentos{
        background-color: #C4C4C4;
        margin-top: 30px;
        margin-bottom: 150px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .textDepoimentos{
        font-family:'Niramit', sans-serif; 
        font-size: 20px; 
        padding: 20px;
        text-align: justify;
    }

    .divDepoimentosGroup2{
        display: block; 
    }
}